/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.05.2015, 18:40:17
    Author     : Fenix
*/
made {
  height: 10px;
  width: 10px;
}
